#calculator{
    font-family: Arial, sans-serif;
    background-color: rgb(0, 3, 0);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 500px;
    padding: 20px;
    font-size: 9rem;
    text-align: left;
    border:color-mix(in hwb increasing hue, color percentage, color percentage);
    background-color: rgb(122, 115, 197);

}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
    padding: 30px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: black;
    background-color: rgb(236, 160, 68);
    color: rgb(0, 0, 0);
    font-size: xxx-large;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: rgb(158, 41, 41);
}
button:active{
    background-color: blue;
}